<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - JK aspmvc4 cookie cutter project</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/css/site")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
          <div class="container">


        <header>

             @Html.Partial("_LoginPartial")
            <div class="content-wrapper">
                @*<div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>*@
              <div class="navbar">
                <div class="navbar-inner">
                  <a class="brand" href="#">mvcCookie</a>
                  <ul class="nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#">Link</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </header>

            @RenderBody()
          <footer>
                <p>&copy; @DateTime.Now.Year - JK aspmvc4 cookie cutter project</p>
          </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/js/site")
        @RenderSection("scripts", required: false)
    </body>
</html>